/* Navigation Bar Design Elements */

ul {
    list-style-type: none;
    padding: 10px;
    overflow: hidden;
}

li {
    display: inline-block;
    font-family: fantasy;
    font: optional;
    font-size: smaller;
    list-style-type: none;
  }

li a {
    padding: 10px;
    color: black;
    text-align: center;
    text-decoration: none;
    background-color: #ffffff;
    display: block;
  }

li a:hover {
    background-color: #b76ba9;
  }

  /* Body Elements */
.portfolio-frame{
    background: rgb(255, 255, 255);
    display: flex;
    margin: 1%;
    border: 3px #ffffff;
    border-radius: 12px;
    border-left: 10%;
    border-style: solid;
    padding: 15px;
    block-size: 185px;
    margin-inline-start: 2%;
    margin-inline-end: 2%;
}

.framework{
    border: 9px;
    border: #b76ba9;
    border-style: dashed;
    border-width: 1px;
    border-radius: 15px;
    margin: 5%;
    background-color: rgb(240,205,224);
    padding-block: 10px;
    padding-inline: 20px;
}

.profile{
    font-family: 'Playfair Display', serif;
    font-weight: lighter;
    font-size: initial;
    font: small;
    margin-top: -35px;
}

#Name{
    font-family: 'Passions Conflict', cursive;
    font-size: 65px;
    color: #b76ba9;
}


.float-child{
    flex-flow: row;
    flex: auto;
    padding: 20px;
    border: 20px;
}

#pic1 {
    max-width: 200px;
    background: white;
    border-radius: 15%;
    border: solid;
    border-color: #ffffff;
    border-width: 2px;
    margin-top: auto;
    margin-top: 15px;
    margin-right: 50px;
    float: left;
}

.About-Me {
    background: white;
    border-radius: 15px;
    border-left: 15px;
    margin: 2%;
    padding: 2%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    font-style: italic;
    color: #3a1433;
}

.items {
    color: blueviolet;
    font-size: larger;
    font-style: oblique;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}