/* Navigation Bar Design Elements */

ul {
    list-style-type: none;
    padding: 15px;
    overflow: hidden;
    margin: 0;
}

li {
    display: inline-block;
    font-family: fantasy;
    font: optional;
    font-size: smaller;
    list-style-type: none;
  }

li a {
    padding: 10px;
    color: black;
    text-align: center;
    text-decoration: none;
    display: block;
  }

li a:hover {
    background-color: #ad87a66c;
  }

  /* Body Elements */

  body {
    margin: 0;
    color: #b76ba9;
  }

.framework {
    background-image: url(https://pbs.twimg.com/media/DjSKaCoXoAExeVm?format=jpg&name=large); 
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    position: relative;
    background-repeat: no-repeat center;
    position: static;
    top:0px;
    right:0px;
    bottom: 0px;
    left:0px;
    height:100vh;
}

.portfolio-frame {
    text-align: justify;
    text-decoration: double;
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(0%, -20%);
    color: black;
    display: flex;
    padding: 5%;
}

.profile {
    font-family: 'Playfair Display', serif;
    font-weight: lighter;
    font-size: initial;
    font: small;
    margin-top: -35px;
    flex-flow: row;
    flex: auto;
    padding: 20px;
    border: 20px;
}

#about-me {
    margin: 15%;
    background-color: white;
    background-position: center;
    color: #000000;
    position: static;
    top:0px;
    right:0px;
    bottom: 0px;
    left:0px;
    height:50vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
    font-display: block;
    font-style: italic;
    text-align: justify;
    background-image: url(https://cdn141.picsart.com/333036553015211.png?to=crop&r=1008x1008&q=85);
}

/* remember to add image to style for list icons */
ul#items li {
    font-size: medium;
    font-style: oblique;
    font-family: sans-serif;
    display: block;
}